<div class="modal-header">
  <h4 class="modal-title pull-left">{{'titles.purgeModal' | translate}} {{stream.name}}</h4>
  <button (click)="bsModalRef.hide()" aria-label="Close" tooltip="{{'buttons.close' | translate}}" class="close pull-right" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p class="w-100">
    <span>{{'text.purge_explanation' | translate}}</span>
  </p>

  <ng-template [ngIf]="endDate && startDate">
 
    <div class="w-100">
      <span class="font-weight-bold w-100">{{'buttons.purge' | translate}} {{'titles.toTime' | translate}}:</span>
      <app-time-bar-picker [method]="'purge'" [endDate]="endDate" [startDate]="startDate" [(selectedDate)]="selectedDate"></app-time-bar-picker>
    </div>
  </ng-template>
</div>
<div class="modal-footer">
  <button tooltip="{{'buttons.purge' | translate}}" (click)="onPurgeSubmit()" class="btn btn-info" type="button">{{'buttons.purge' | translate}}</button>
  <button tooltip="{{'buttons.cancel' | translate}}" (click)="bsModalRef.hide()" class="btn btn-default last" type="button">{{'buttons.cancel' | translate}}</button>
</div>
