<div class="modal-header">
  <h4 class="modal-title pull-left">{{'titles.truncateModal' | translate}} {{stream.name}}</h4>
  <button (click)="bsModalRef.hide()" aria-label="Close" tooltip="{{'buttons.close' | translate}}" class="close pull-right" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">

  <p class="w-100">
    <span>{{'text.truncate_explanation' | translate}}</span>
  </p>

  <div class="w-100 symbols-list">
    <span class="font-weight-bold w-100">{{'titles.symbolsToTruncate' | translate}}:</span>
    <ng-multiselect-dropdown
      [(ngModel)]="selectedSymbols" [data]="symbolsList"
      [settings]="dropdownSettingsSymbols">
    </ng-multiselect-dropdown>
  </div>

  <ng-template [ngIf]="endDate && startDate">
    <div class="w-100">
      <span class="font-weight-bold w-100">{{'buttons.truncate' | translate}} {{'titles.toTime' | translate}}:</span>
      <app-time-bar-picker [endDate]="endDate" [method]="'truncate'" [startDate]="startDate" [(selectedDate)]="selectedDate"></app-time-bar-picker>
    </div>
  </ng-template>

</div>
<div class="modal-footer">
  <button
    tooltip="{{'buttons.truncate' | translate}}"
    (click)="onTruncateSubmit()"
    class="btn btn-info"
    type="button"
    >{{'buttons.truncate' | translate}}</button>
  <button tooltip="{{'buttons.cancel' | translate}}" (click)="bsModalRef.hide()" class="btn btn-default last" type="button">{{'buttons.cancel' | translate}}</button>
</div>
