<div class="modal-header">
  <h4 class="modal-title pull-left">{{'titles.changeName' | translate}} {{data.name}}</h4>
  <button (click)="bsModalRef.hide()" aria-label="Close" tooltip="{{'buttons.close' | translate}}" class="close pull-right" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="renameForm" id="renameForm" (ngSubmit)="onRenameSubmit()">
    <div class="controlWr">
      <label class="btn control-label" for="newName">
        {{'forms.newName' | translate}}
      </label>
      <input class="btn input-control"
        type="text"
        id="newName"
        name="newName"
        formControlName="newName"
      />
    </div>
  </form>
</div>
<div class="modal-footer">
  <button
    class="btn btn-info"
    type="submit"
    form="renameForm"
    [disabled]="this.renameForm.invalid || this.renameForm.pristine"
  >{{'buttons.rename' | translate}}</button>
  <button (click)="bsModalRef.hide()" class="btn btn-default last" type="button">{{'buttons.cancel' | translate}}</button>
</div>
