<div class="details-stream-wrap">
  <as-split [direction]="'horizontal'">
    <as-split-area [order]="1" [size]="75">
      <div class="col-md-12 d-stream">
        <ng-template [ngIf]="!!activeTab && !!(activeTab | async)">
          <div class="col-md-12 stream-details">

            <div class="d-flex" [ngClass]="{'hide': (activeTab | async).schema || (activeTab | async).query}">
              <app-filters-panel class="d-flex w-100"></app-filters-panel>
            </div>
            <div class="grid-wr" [ngClass]="{'hide-filters': (activeTab | async).schema ||  (activeTab | async).query}">
              <ng-container *ngIf="(streamDetails | async).errorMessage">
                <p class="error-message">
                <span [title]="(streamDetails | async).errorMessage"
                  class="error-message-text">{{(streamDetails | async).errorMessage}}</span>
                  <button (click)="onHideErrorMessage()" [title]="'buttons.removeNotification' | translate"
                    class="btn close-btn">X
                  </button>
                </p>
              </ng-container>

              <ng-container *ngIf="(activeTab | async).live">
                <app-streams-grid-live class="h-100"></app-streams-grid-live>
              </ng-container>

              <ng-container *ngIf="(activeTab | async).schema">
                <app-stream-schema class="h-100"></app-stream-schema>
              </ng-container>

              <ng-container *ngIf="(activeTab | async).query">
                <app-stream-query class="h-100"></app-stream-query>
              </ng-container>

              <ng-container *ngIf="!(activeTab | async).live  && !(activeTab | async).schema
            && !(activeTab | async).chart && !(activeTab | async).query">
                <app-stream-view-reverse class="h-100"></app-stream-view-reverse>

              </ng-container>

            </div>
          </div>
        </ng-template>
      </div>
    </as-split-area>
    <as-split-area [order]="2" [size]="25" [visible]="!closedProps">
      <div class="col-md-12 no-padding-left">
        <app-streams-props (closedPropsEmit)="closedPropsEmit($event)"></app-streams-props>
      </div>
    </as-split-area>
  </as-split>
</div>
