<div class="arrow-timebar">
  <a tooltip="{{'buttons.move_up_timebar' | translate}}" (click)="timebarTop()">
    <svg id="i-chevron-top" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="30" height="30" fill="none"
      stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
      <path d="M30 20 L16 8 2 20" />
    </svg>
  </a>
</div>
<div [ngClass]="{
    'is-rotated': (activeTab | async).reverse
  }" class="timebar">
  <div (click)="onSetDate($event)" (mousemove)="onMouseMove($event)" class="timebar-event-area"></div>
  <div [ngStyle]="{
        'top': (timelineBarState | async).top,
        'bottom': (timelineBarState | async).bottom
      }" class="timebar-thumb">
  </div>
  <span #timebarCursor (mousemove)="$event.stopPropagation();" [ngStyle]="{
      transform: 'translateY(' + cursorTop + 'px)'
    }" class="timebar-cursor">
    <span [ngClass]="{
        'is-rotated': (activeTab | async).reverse
      }" class="timebar-cursor-text">{{timebarCursorTitleVisible}}</span>
  </span>
</div>
<div class="arrow-timebar">
  <a tooltip="{{'buttons.move_down_timebar' | translate}}" (click)="timebarBottom()">
    <svg id="i-chevron-bottom" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="30" height="30" fill="none"
      stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
      <path d="M30 12 L16 24 2 12" />
    </svg>
  </a>
</div>