<div class="modal-header">
  <h4 class="modal-title pull-left">{{title}}</h4>
  <button (click)="bsModalRef.hide()" aria-label="Close" tooltip="{{'buttons.close' | translate}}" class="close pull-right" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <ng-multiselect-dropdown (onSelect)="onItemSelectSymbols($event)" (onSelectAll)="onSelectAllSymbols($event)" 
  (onDeSelect)="onItemDeSelectSymbols($event)" (onDeSelectAll)="onDeSelectAllSymbols($event)" [(ngModel)]="selectedItemsSymbols"
    [data]="dropdownListSymbols" [placeholder]="'Symbols'"
    [settings]="dropdownSettingsSymbols">
  </ng-multiselect-dropdown>
  
  <ng-multiselect-dropdown (onSelect)="onItemSelectTypes($event)" (onSelectAll)="onSelectAllTypes($event)"
  (onDeSelect)="onItemDeSelectTypes($event)" (onDeSelectAll)="onDeSelectAllTypes($event)" [(ngModel)]="selectedItemsTypes"
    [data]="dropdownListTypes" [placeholder]="'Message Types'" [settings]="dropdownSettingsTypes">
  </ng-multiselect-dropdown>

</div>
<div class="modal-footer">
  <button tooltip="{{'buttons.clear' | translate}}"  (click)="clear()" class="btn btn-default" type="button">Clear</button>
  <button tooltip="{{'buttons.close' | translate}}"  (click)="bsModalRef.hide()" class="btn btn-default last" type="button">{{closeBtnName}}</button>
</div>
