<div class="notification alerts-wrapper">
  <alert
    *ngFor="let alert of (notificationsState | async).alerts; let i = index"
    (onClosed)="onClosed(alert, i)"
    [dismissible]="alert.dismissible"
    [dismissOnTimeout]="alert.closeInterval"
    type="danger">
    <span [innerHtml]="alert.message"></span>
  </alert>
</div>
<div class="notification warns-wrapper">
  <alert
    *ngFor="let warn of (notificationsState | async).warns; let i = index"
    (onClosed)="onClosed(warn, i)"
    [dismissible]="warn.dismissible"
    [dismissOnTimeout]="warn.closeInterval"
    type="warning">
    <span [innerHtml]="warn.message"></span>
  </alert>
</div>
<div class="notification notifications-wrapper">
  <alert
    *ngFor="let notification of (notificationsState | async).notifications; let i = index"
    (onClosed)="onClosed(notification, i)"
    [dismissible]="notification.dismissible"
    [dismissOnTimeout]="notification.closeInterval"
    [type]="notification.type">
    <span [innerHtml]="notification.message"></span>
  </alert>
</div>
